<div>
    <h1 style="background-color: darkgray; color:palegoldenrod">MEAN LUT-Project</h1>
    <p class="lead" style="background-color: darkgray; color: palegoldenrod;">LUT</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3 style="color:green; background-color: lightblue;">HS</h3>
        <a href="https://www.hs.fi/" style="color:blue;">HS.fi</a>
        <p>Pikalinkki Helsingin Sanomien kotisivulle</p>
    </div>
    <div class="col-md-4">
        <h3 style="color:green; background-color: lightblue;">TS</h3>
        <a href="https://www.ts.fi/" style="color:blue;">TS.fi</a>
        <p>Pikalinkki Turun Sanomien kotisivulle</p>
    </div>
    <div class="col-md-4">
        <h3 style="color:green; background-color: lightblue;">Google</h3>
        <a href="https://www.google.fi/" style="color:blue;">Google</a>
    </div>
</div>